* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.info-box {
  border: 1px solid black;
  width: 70%;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.box1 {
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}

#submit-form {
  width: 100%;
}

.submit-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.short-input {
  width: 50px;
}

.long-input { 
  width: 100px;
}

.charges-box {
  width: 60%;
}
.underline {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.reset {
  text-align: right;
  margin-right: 20%;
}

.display-error {
  font-weight: bold;
  margin-top: 3px;
}